In [35]:
# 사진 갯수
from glob import glob
pngs = sorted(glob('unzip/*/*/*/*/*.png')) 
len(pngs)

473351

In [38]:
# 파일명 파싱
from tqdm.auto import tqdm
print(pngs[-1])
%time names = [e.split('/')[-1].split('.')[0].split('_') for e in pngs]
%time rows = [n + [p] for n, p in zip(names, pngs)]
names[-3:]

unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20397.png
CPU times: user 887 ms, sys: 104 ms, total: 992 ms
Wall time: 988 ms
CPU times: user 514 ms, sys: 32.2 ms, total: 546 ms
Wall time: 544 ms

[['OUT', 'H00646', 'SN4', '100810', '20391'],
 ['OUT', 'H00646', 'SN4', '100810', '20394'],
 ['OUT', 'H00646', 'SN4', '100810', '20397']]

In [31]:
# 데이터 프레임으로 변환
import pandas as pd
df = pd.DataFrame(names, columns=['inout', 'H', 'SN', 'ID', 'PNG', 'path'])
df.tail(5)

,inout,H,SN,ID,PNG,path
473346,OUT,H00646,SN4,100810,20385,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473347,OUT,H00646,SN4,100810,20388,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473348,OUT,H00646,SN4,100810,20391,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473349,OUT,H00646,SN4,100810,20394,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473350,OUT,H00646,SN4,100810,20397,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...

In [33]:
# 컬럼 통계
df.describe()

,inout,H,SN,ID,PNG,path
count,473351,473351,473351,473351,473351,473351
unique,2,100,4,75,39617,473351
top,OUT,H00310,SN4,090402,19503,unzip/OUT/H00547/SN2/092903/OUT_H00547_SN2_092...
freq,284783,6063,119817,17352,51,1

In [48]:
n = names[10]
J = lambda n, i: '_'.join(n[:i])
A = lambda n: J(n,1), J(n,2), J(n,3) , J(n,4), J(n,5)
A(names[3])

['IN', 'H00276', 'SN1', '090401', '40509']