In [56]:
# 사진 갯수
from glob import glob
pngs = sorted(glob('unzip/*/*/*/*/*.png')) 
len(pngs)

473351

In [58]:
# 파일명 파싱
from tqdm.auto import tqdm
print(pngs[-1])
%time names = [e.split('/')[-1].split('.')[0].split('_') for e in pngs]
J = lambda n, i: '_'.join(n[:i])
A = lambda n: [J(n,1), J(n,2), J(n,3) , J(n,4), J(n,5)]
%time rows = [A(n) + [p] for n, p in zip(names, pngs)]
rows[-3:]

unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20397.png
CPU times: user 791 ms, sys: 19.7 ms, total: 811 ms
Wall time: 807 ms
CPU times: user 1.23 s, sys: 72.1 ms, total: 1.31 s
Wall time: 1.3 s

[['OUT',
  'OUT_H00646',
  'OUT_H00646_SN4',
  'OUT_H00646_SN4_100810',
  'OUT_H00646_SN4_100810_20391',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20391.png'],
 ['OUT',
  'OUT_H00646',
  'OUT_H00646_SN4',
  'OUT_H00646_SN4_100810',
  'OUT_H00646_SN4_100810_20394',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20394.png'],
 ['OUT',
  'OUT_H00646',
  'OUT_H00646_SN4',
  'OUT_H00646_SN4_100810',
  'OUT_H00646_SN4_100810_20397',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20397.png']]

In [59]:
# 데이터 프레임으로 변환
import pandas as pd
df = pd.DataFrame(rows, columns=['inout', 'H', 'SN', 'ID', 'PNG', 'path'])
df.tail(5)

,inout,H,SN,ID,PNG,path
473346,OUT,OUT_H00646,OUT_H00646_SN4,OUT_H00646_SN4_100810,OUT_H00646_SN4_100810_20385,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473347,OUT,OUT_H00646,OUT_H00646_SN4,OUT_H00646_SN4_100810,OUT_H00646_SN4_100810_20388,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473348,OUT,OUT_H00646,OUT_H00646_SN4,OUT_H00646_SN4_100810,OUT_H00646_SN4_100810_20391,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473349,OUT,OUT_H00646,OUT_H00646_SN4,OUT_H00646_SN4_100810,OUT_H00646_SN4_100810_20394,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473350,OUT,OUT_H00646,OUT_H00646_SN4,OUT_H00646_SN4_100810,OUT_H00646_SN4_100810_20397,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...

In [62]:
# 컬럼별  nuique 통계
df.describe().loc[['unique']]

       inout    H   SN    ID     PNG    path
unique     2  102  401  3981  473351  473351