In [29]:
# 사진 갯수
from glob import glob
pngs = sorted(glob('unzip/*/*/*/*/*.png')) 
len(pngs)

473351

In [30]:
# 파일명 파싱
from tqdm.auto import tqdm
print(pngs[-1])
%time names = [e.split('/')[-1].split('.')[0] for e in pngs]
%time names= [e.split('_') + [p] for e, p in zip(names, pngs)]
names[-3:]

unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20397.png
CPU times: user 256 ms, sys: 4.04 ms, total: 260 ms
Wall time: 258 ms
CPU times: user 790 ms, sys: 120 ms, total: 910 ms
Wall time: 908 ms

[['OUT',
  'H00646',
  'SN4',
  '100810',
  '20391',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20391.png'],
 ['OUT',
  'H00646',
  'SN4',
  '100810',
  '20394',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20394.png'],
 ['OUT',
  'H00646',
  'SN4',
  '100810',
  '20397',
  'unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100810_20397.png']]

In [31]:
# 데이터 프레임으로 변환
import pandas as pd
df = pd.DataFrame(names, columns=['inout', 'H', 'SN', 'ID', 'PNG', 'path'])
df.tail(5)

,inout,H,SN,ID,PNG,path
473346,OUT,H00646,SN4,100810,20385,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473347,OUT,H00646,SN4,100810,20388,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473348,OUT,H00646,SN4,100810,20391,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473349,OUT,H00646,SN4,100810,20394,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...
473350,OUT,H00646,SN4,100810,20397,unzip/OUT/H00646/SN4/100810/OUT_H00646_SN4_100...